<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>aps-environment</key>
	<string>development</string>
	<key>com.apple.developer.associated-domains</key>
	<array>
		<string>applinks:wallet.p202.io</string>
		<string>applinks:p202w.app</string>
		<string>applinks:classic.p202w.app</string>
		<string>applinks:callisto.p202w.app</string>
		<string>applinks:kovan.p202w.app</string>
		<string>applinks:ropsten.p202w.app</string>
		<string>applinks:rinkeby.p202w.app</string>
		<string>applinks:poa.p202w.app</string>
		<string>applinks:sokol.p202w.app</string>
		<string>applinks:xdai.p202w.app</string>
		<string>applinks:custom.p202w.app</string>
		<string>applinks:goerli.p202w.app</string>
		<string>applinks:binance.p202w.app</string>
		<string>applinks:test-binance.p202w.app</string>
	</array>
	<key>com.apple.developer.default-data-protection</key>
	<string>NSFileProtectionComplete</string>
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.io.p202.wallet.app</string>
	</array>
</dict>
</plist>
